// fonts
$fontPrimary: "Lato", Helvetica, "Roboto", Arial, sans-serif;

// Text size
$fz-sxs: 11px;
$fz-xs: 12px;
$fz-sm: 14px;
$fz-md: 16px;
$fz-lg: 18px;
$fz-xl: 20px;

$fz-h-sxs: 18px;
$fz-h-xs: 20px;
$fz-h-sm: 22px;
$fz-h-md: 24px;
$fz-h-lg: 30px;
$fz-h-xl: 36px;

// responsive vars
$lg-desktop: 1920px;
$md-desktop: 1440px;
$sm-desktop: 1280px;
$lg-tablet: 1024px;
$md-tablet: 768px;
$lg-mobile: 480px;
$md-mobile: 360px;

// colors
$white: #FFFFFF;
$black: #000000;

$colorMain: #0062C5;
$colorMainL: #007EDB;
$colorMainD: #133D5F;
$colorMainED: #162133;

$colorBlack: #3C3947;

$colorGray: #646464;
$colorGrayL: #888888;
$colorGrayEL: #e0e0e0;


$colorGreen: #299800;

$colorRed: #952425;
